<div class="container">
  <form class="search-form js-search-form">
    <input
      name="user-search-query"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
      class="search-input"
    />
    <button type="submit" class="search-btn">search</button>
  </form>
  <div class="gallery js-gallery">
    <!-- Картки зображень -->
  </div>
  <span class="loader"></span>
  <div class="target-element"></div>
  <button type="button" class="load-more js-load-more is-hidden">
    Load more
  </button>
</div>
